In [1]:
import numpy as np

Boston Housing Dataset

In [2]:
from sklearn.datasets import load_boston

boston = load_boston()

In [3]:
X = boston["data"]

print(X.shape)

X[0]

(506, 13)

array([6.320e-03, 1.800e+01, 2.310e+00, 0.000e+00, 5.380e-01, 6.575e+00,
       6.520e+01, 4.090e+00, 1.000e+00, 2.960e+02, 1.530e+01, 3.969e+02,
       4.980e+00])

In [4]:
y = boston["target"]

print(y.shape)
y[0]

(506,)

24.0

In [6]:
import pandas as pd

data = pd.DataFrame(X, columns=boston["feature_names"])
data["MEDV"] = y

print(data.shape)
data.head()

(506, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

# Gradient Descent

In [8]:
x1 = X[:, 0]
x2 = X[:, 1]
x3 = X[:, 2]
x4 = X[:, 3]
x5 = X[:, 4]
x6 = X[:, 5]
x7 = X[:, 6]
x8 = X[:, 7]
x9 = X[:, 8]
x10 = X[:, 9]
x11 = X[:, 10]
x12 = X[:, 11]
x13 = X[:, 12]

In [16]:
num_epoch = 30000
learning_rate = 0.000003

w1 = np.random.uniform(low=-1.0, high=1.0)
w2 = np.random.uniform(low=-1.0, high=1.0)
w3 = np.random.uniform(low=-1.0, high=1.0)
w4 = np.random.uniform(low=-1.0, high=1.0)
w5 = np.random.uniform(low=-1.0, high=1.0)
w6 = np.random.uniform(low=-1.0, high=1.0)
w7 = np.random.uniform(low=-1.0, high=1.0)
w8 = np.random.uniform(low=-1.0, high=1.0)
w9 = np.random.uniform(low=-1.0, high=1.0)
w10 = np.random.uniform(low=-1.0, high=1.0)
w11 = np.random.uniform(low=-1.0, high=1.0)
w12 = np.random.uniform(low=-1.0, high=1.0)
w13 = np.random.uniform(low=-1.0, high=1.0)
b = np.random.uniform(low=-1.0, high=1.0)

for epoch in range(num_epoch):
    y_predict = (x1 * w1) + (x2 * w2) + (x3 * w3) + (x4 * w4) + (x5 * w5) + (x6 * w6) + (x7 * w7) + \
                (x8 * w8) + (x9 * w9) + (x10 * w10) + (x11 * w11) + (x12 * w12) + (x13 * w13) + b

    error = np.abs(y_predict - y).mean()
    if error < 5:
        print("break error = {}".format(error))
        break
        
    w1 = w1 - learning_rate * ((y_predict - y) * x1).mean()
    w2 = w2 - learning_rate * ((y_predict - y) * x1).mean()
    w3 = w3 - learning_rate * ((y_predict - y) * x1).mean()
    w4 = w4 - learning_rate * ((y_predict - y) * x1).mean()
    w5 = w5 - learning_rate * ((y_predict - y) * x1).mean()
    w6 = w6 - learning_rate * ((y_predict - y) * x1).mean()
    w7 = w7 - learning_rate * ((y_predict - y) * x1).mean()
    w8 = w8 - learning_rate * ((y_predict - y) * x1).mean()
    w9 = w9 - learning_rate * ((y_predict - y) * x1).mean()
    w10 = w10 - learning_rate * ((y_predict - y) * x1).mean()
    w11 = w11 - learning_rate * ((y_predict - y) * x1).mean()
    w12 = w12 - learning_rate * ((y_predict - y) * x1).mean()
    w13 = w13 - learning_rate * ((y_predict - y) * x1).mean()
    b = b - learning_rate * ((y_predict - y) * x1).mean()
    
print("---" * 10)
print("epoch = {}, error = {:.6f}".format(epoch, error))

------------------------------
epoch = 29999, error = 12.531949

## Gradient Descent(use dot product)